@import url("https://fonts.googleapis.com/css?family=Montserrat:500");



.list {
  margin: 0 auto;
  width: 100%;
  max-width: 380px;
  user-select: none;
}

.listItem {
  transition: box-shadow 200ms ease-out, opacity 200ms ease-out;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  display: flex;
}

.listItem:not(:last-child) {
  margin-bottom: 7px;
}

.listItem.isDragging {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
}

.listItemContent {
  width: calc(100% - 40px);
  padding: 10px 15px;
}

.listItemTitle,
.listItemDescription {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.listItemTitle {
  font-size: 15px;
  color: #0E254E;
}

.listItemDescription {
  font-size: 13px;
  color: #66748E;
}

.listItemHandle {
  position: relative;
  width: 40px;
  cursor: pointer;
}

.listItemHandle:before,
.listItemHandle:after {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  top: 50%;
  height: 1px;
  background: #c2cada;
}

.listItemHandle:before {
  transform: translateY(-4px);
}

.listItemHandle:after {
  transform: translateY(4px);
}